.btn-design {
  margin: 0 1rem;
  background-color: transparent;
  background-image: linear-gradient(90deg, #ffb87d 0%, #ff3d99 100%);
  color: #ffffff;
  border: none;
}
.btn-design:hover {
  background-color: transparent;
  background-image: linear-gradient(300deg, #ffb87d 0%, #ff3d99 100%);
}
a {
  text-decoration: none;
}
