.heder-bg {
  background-color: #000000 !important;
  color: #231bd0 !important;
}
.nav-brand-height {
  height: 50px !important;
}

@media screen and (max-width: 768px) {
  .btn-design {
    margin: 0 !important;
  }
}
