/* card */
.ft-fixed-area {
  position: relative;
  top: -3rem;
  left: 7%;
}

.ft-fixed-area .reservation-box {
  color: #fff;
  background-color: #f15f2a;
  background-image: url(../../assets/images/ft-res-bg.jpg);
  background-size: cover;
  position: relative;
  top: -30px;
  padding: 20px;
}

.ft-fixed-area .reservation-wrap {
  border: 1px solid #fff;
  padding: 10px 25px 25px;
  position: relative;
}

.ft-fixed-area .reservation-wrap:before {
  top: -5px;
  right: -5px;
}

.ft-fixed-area .reservation-wrap:before,
.ft-fixed-area .reservation-wrap:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.ft-fixed-area .reservation-wrap:after {
  bottom: -5px;
  left: -5px;
}
.ft-fixed-area .reservation-wrap:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.ft-fixed-area .reservation-wrap .res-title {
  font-size: 40px;
  text-align: center;
  font-family: "Rancho", cursive;
}

.ft-fixed-area .reservation-wrap .res-date {
  width: 60%;
  float: left;
  overflow: hidden;
}
.ft-fixed-area .reservation-wrap .res-date .res-date-item {
  display: table;
  width: 100%;
}
.ft-fixed-area .reservation-wrap .res-date .res-date-text {
  display: table-cell;
}
.ft-fixed-area .reservation-wrap .res-date .res-date-dot {
  display: table-cell;
  padding-left: 5px;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
}

.ft-fixed-area .reservation-wrap .res-number {
  font-size: 30px;
  font-weight: 700;
  color: #1d1b20;
  text-align: center;
}

/* responsive  */
@media (max-width: 912px) {
  .ft-fixed-area {
    top: 4rem;
  }
}
@media (max-width: 500px) {
  .ft-fixed-area {
    left: 0;
  }
}
